<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="titulo">Tarjeta de Credito</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <h5 class="titulo"> Agregar Tarjeta</h5>
                <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&nbsp;<i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="titulo" type="text" class="form-control" placeholder="Titular de la Tarjeta">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">&nbsp;<i class="far fa-credit-card"></i></span>
                        </div>
                        <input formControlName="numeroTarjeta" type="text" class="form-control" placeholder="Numero de la Tarjeta">
                      </div>
                      <div class="row">
                          <div class="col-lg-7">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">&nbsp;<i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input formControlName="fechaExpiracion" type="text" class="form-control" placeholder="MM/YY">
                              </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">&nbsp;<i class="fas fa-key"></i></span>
                                </div>
                                <input formControlName="cvv" type="password" class="form-control" placeholder="CVV"  >
                            </div>
                          </div>
                          <button type="submit" class="btn-block btn btn-success btn-lg "><i class="fas fa-database"></i> Aceptar</button>
                      </div>
                </form>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <h5 class="titulo"> Lista de Tarjetas</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let tarjeta of listarTarjetas">
                        <td>{{tarjeta.titulo}}</td>
                        <td>{{tarjeta.numeroTarjeta}}</td>
                        <td>{{tarjeta.fechaExpiracion}}</td>
                        <td>{{tarjeta.cvv}}</td>
                        <td><i class="fas fa-edit text-info"></i></td>
                        <td><i class="far fa-trash-alt text-danger"></i></td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    
</div>